html {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --darkgrey: #4a4a4a;
    --lightgrey: #c4c4c6;
    --mediumgrey: #9c9c9c;
    --white: white;
    --footer: #f3f3f3;


    
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--darkgrey);
}

img {
    max-width: 100%;
}

.container {
display: grid;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    color: var(--darkgrey);
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 600px;
    background-image: url("images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: var(--lightgrey);
}

a:hover {
    color: 	var(--darkgrey);
}

nav {
    display: grid;
    margin-top: 40px;
}

#logo {
    max-height: 40px;
    max-width: 30%; 
    margin-left: 40px; 
    float: left;
}

nav ul {
    text-align: right;
    padding-right: 30px;
    font-size: 14px;
}

nav li {
    display: inline;
    padding: 20px;
}

#search-icon {
    max-height: 20px;
    max-width: 30%; 
    margin-right: 50px;
}

.hero-text {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: 10%;
    
}

.about {
    margin-top: 2%; 
    text-align: left;
    display: grid; 
}

#title-about {
   margin-left: 15%;
}

.about ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 70%;
    justify-self: center;
    align-self: center;
}

.about h3 {
    color: var(--mediumgrey);
    font-size: 30px;
}

#provide-text {
    text-align: left;
    margin-right: 10%;
}

.icons {
    width: 15%;
    margin-top: 5%;
    margin-bottom: 0;
}

#plant-img {
    background-image: url("/images/image.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.categories {
    background-color: var(--footer);
    width: 100%;
    margin-left: 0rem;
}

.categories h3 {
    margin-left: 20%;
    padding-top: 2%;
    font-weight: 100;
    font-size: 40px;
}

.categories ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
    list-style-type: none;
    color:var(--white);
    width: 100%;
    height: 700px;
    font-size: 30px;   
    text-align: center;
}

.categories li{
    background-size: cover;
    background-position: center;
}

.categories li p {
    padding-top: 65%;
}

.categories li:nth-child(1) {
    background-image: url("images/bathroom.jpg");
}

.categories li:nth-child(2) {
    background-image: url("images/kitchen.jpg");
}

.categories li:nth-child(3) {
    background-image: url("images/bedroom.jpg");
}

.categories li:nth-child(4) {
    background-image: url("images/livingroom.jpg");
}

footer {
    background-color: var(--footer);
    color: var(--lightgrey);
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 40px;
    position: fixed;
    height: 70px;
}


@media(max-width: 500) {
    nav ul{
        grid-template-columns: 1fr;
    }
}